/* reset css */
* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* border: solid 1px red; */
    box-sizing: border-box;
}

/* begin general */
.btn {
    background-color: #2A9354;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn p {
    font-size: 24px;
    color: white;
}

.container {
    /* border: 3px solid red; */
    padding: 0 2.5%;
    overflow: auto;
}

.row {
    text-align: center;
    padding: 30px;
}

.flex-container {
    height: 100%;

    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    flex-grow: 1;
    padding: 0 5%;
    width: 100%;
}

hr {
    margin-top: 20px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #2A9354;
}

#gallery {
    bottom: 5em;
}

/* end general */

/* begin navigation */
header {
    height: 100px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    z-index: 10;
}

.header-left {
    float: left;
    width: 50%;
    height: 100px;
}

.brand {
    padding: 5px;
    height: 100%;
}

.brand img {
    margin-left: 50px;
}

.header-right {
    float: right;
    width: 50%;
    height: 100px;
    /* transition: all 0.5s; */
}

.menu {
    text-align: center;
    height: 100%;
    line-height: 100px;
}

header li {
    display: inline-block;
    margin: 0 40px;
}

header a {
    display: inline-block;
    color: white;
    font-weight: bold;
}

header a:hover {
    color: #44D97F;
    transition: ease-in-out 0.5s;
}

/* end navigation */

/* begin welcome */
.welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/background.jpg");
    width: 100%;
    height: 769px;
    background-size: cover;
}

.welcome-message h1 {
    font-size: 64px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}

.welcome-message h2 {
    font-size: 28px;
    margin-top: 30px;
    color: white;
    font-weight: 100;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.welcome-message button {
    margin-top: 30px;
}

.welcome-message span {
    color: #44D97F;
}

/* end welcome */

/* begin gallery */
.gallery {
    height: 100%;
    margin-top: 30px;
}

/* end gallery */

/* begin about */
.about {
    height: 100%;
    margin-top: 30px;
}

.about p {
    text-align: justify;
}

.about-person img {
    width: 250px;
    border-radius: 10px;
}

.about-person {
    align-items: unset;
}

/* end about */

/* begin contact */
.contact {
    height: 100%;
    margin-top: 30px;
}

.contact .flex-container {
    align-items: unset;
}

.contact-media {
    text-align: justify;
    line-height: 300%;

}

.contact-media span {
    font-weight: bold;
}

.contact-media a {
    color: #2A9354;
}

.contact-media a:hover {
    opacity: 0.7;
}

#contact-media {
    flex-basis: 100%;
}

.contact-map .flex-item {
    border: solid 5px blue;
}

/* end contact */

/* begin footer */
footer {
    height: 100%;
    margin-top: 30px;
    background-color: rgb(34, 49, 52);
}

footer h4 {
    font-weight: lighter;
    color: white;
}

/* end footer */